/*Start CSS to style page*/
/*Styles the body*/
body {
    font-family: 'Courier New', Courier, monospace;
    /*Credit Author: tenca 天華*/
    /*background-image: url(background-image.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

/*NAVBAR START---*/
/*Design how the bar looks like */
.navbar ul {
    list-style-type: none;
    background-color: darkgrey;
    padding: 0px;
    margin: 0px;
    /*breaks when not having this*/
    overflow: hidden;
}

/*Changes how the text looks like*/
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

/*When hovering change background color*/
.navbar a:hover {
    background-color: rgb(211, 211, 211);
}

/* Make the navbar text not centered but go left to right*/
.navbar li {
    float: left;
}

/*NAVBAR END---*/
#game-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.295);
    border: 1px solid white;
}

.song {
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

button {
    padding: 5px 10px;
    margin-top: 10px;
}